*{
  margin: 0;
  padding: 0 auto;
}
body{
  /*background: rgba(50,50,50,1);*/
}
html,body{ margin:0; padding:0; height:100%; width:100%; }

.file-input-btn {
  color: transparent;
  margin-top: 10%;
}
.file-input-btn::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input-btn::before {
  content: 'Select picture file';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-input-btn:hover::before {
  border-color: black;
}
.file-input-btn:active {
  outline: 0;
}
.file-input-btn:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.container{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.container.hidden{
  width: 0;
  height: 0;
}

.container#upload-img{
  text-align: center;
  /*background-color: rgba(50,50,50,1);*/
}

.container#selection{
  /*margin-top: 10px;*/
}

.container#done{

}

#myCanvas:hover{
  cursor: default;
}

#selectionDoneBtn{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  background-color: rgba(30,30,50,.8);
  color: rgba(180,180,180,1);
  cursor: default;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 2px;
  border: 1px solid rgba(40,40,40,1);
}
#selectionDoneBtn:hover{
  border: 1px solid rgba(60,60,60,1);
}
#selectionDoneBtn.hidden{
  overflow: hidden;
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
}
